{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}
    <h1>Registration</h1>
    <form method="post" class="form-control">
        <input type="text" name="username" placeholder="Set a username" class="form-control"></br>
        <input type="text" name="email" placeholder="Your email" class="form-control"></br>
        <input type="text" name="password" placeholder="Create a password" class="form-control"></br>
        <button type="submit" name="create" class="btn btn-success">Register</button>
    </form>
    <div class="under_form">
        <a href="{{ url_for('login') }}" class="nav-link px-2">Already have an account?</a>
    </div>
{% endblock %}